* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*TOPO*/

body {
    background-color: rgb(205, 243, 255)
}

header {
    background-color: white;
    padding: 20px 60px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: ;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #1e73be;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    color: #1e73be;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: #17578f;
    padding: 2px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.botao {
    background-color: #1e73be;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    border-style: outset;
    border-width: 1px;
}

.botao:hover {
    background-color: #17578f;
    padding: 11px 21px;
}

/*Meio*/

.banner {
    background: linear-gradient(to right, #0b5291 25%, #b5d6ff 65%);
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 150px;
}

.banner-texto {
    color: white;
    max-width: 550px;
    font-size: 22px;
}

.banner-texto h2 {
    margin-bottom: 2%;
    margin-left: 5%;
}

.banner-texto p {
    font-size: 16px;
    margin-left: 5%;
}

.banner-botao {
    margin-left: 5%;
    margin-top: 34px;
    padding: 11px 25px;
    font-size: 15px;
    font-weight: bold;
    color: #08233a;
    background-color: #b5dcff;
    border-style: outset;
    border-width: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.banner-botao:hover {
    background-color: #7ac1ff;
}

.banner img {
    max-width: 100%;
    width: 720px;
}

.servicos {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.servicos article {
    background-color: white;
    display: flex;
    border-radius: 8px;
    padding: 20px 40px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 15px 12px 15px rgb(33, 139, 168);
}

.servicos img {
    width: 60px;
    margin-right: 5px;
}

#clareamento {
    margin-top: 12px;
    width: 65px;
}

#implante {
    width: 55px;
    margin-right: 5px;
}

#implante img {
    width: 55px;
}

.servicos h2 {
    color: #17578f;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 15px;
}

.servicos p {
    font-size: 13px;
}

.banner2 {
    background-color: white;
    padding: 12px 12px;
}

.banner2 .container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    padding: 25px 150px;
}

.banner-texto2 {
    color: black;
    max-width: 550px;
    font-size: 18px;
}

.banner-texto2 h2 {
    margin-bottom: 2%;
    color: #17578f;
}

.banner-texto2 p {
    font-size: 14px;
}

.banner-botao2 {
    margin-top: 34px;
    padding: 11px 25px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #005a00;
    border-style: outset;
    border-width: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.banner-botao2:hover {
    background-color: #003d00;
}

.banner2 img {
    max-width: 100%;
    width: 550px;
    border-radius: 4px;
}

.titulo-servico {
    text-align: center;
    margin-top: 24px;
    color: #10436e;
    font-weight: bold;
    font-size: 22px;
}

.servicos2 {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.servicos2 article {
    background-color: white;
    border-radius: 8px;
    padding: 20px 80px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 15px 12px 15px rgb(33, 139, 168);
}

.servico2-img {
    align-content: center;
    display: flex;
    justify-content: center;
    ;
}

.servicos2 img {
    width: 125px;
}

.servicos2 h2 {
    font-size: 20px;
    text-align: center;
}

/*Rodapé*/

.contentinfo {
    background-color: rgb(0, 63, 180);
    color: white;
    padding: 18px 44px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.contentinfo-info {
    padding: 0 20px;
}

.contentinfo h3 {
    font-size: 12px;
    margin-bottom: 5px;
}

.contentinfo p {
    font-size: 11px;
    margin-bottom: 6px;
}

.contentinfo2 {
    color: white;
    background-color: rgb(1, 37, 138);
    display: grid;
    justify-items: center;
    padding: 18px;
}

.social {
    margin-bottom: 5px;
}

.social img {
    width: 30px;
    border-radius: 15px;
    margin-left: 2px;
    margin-right: 2px;
}

.rights {
    font-size: 11px;
}